<h1>Need a job?</h1>


<h2>Your choice. Your time. Your neighborhood. Your price.</h2>

<p>Find free or low-cost job training programs near you.</p>

<h2>I need...</h2>

<%= link_to "Look for Work", "search#index", :class => "category"%>

<%= link_to "My GED", "ged", :class => "category"%>

<%= link_to "to Learn English", "english", :class => "category"%>

<%= link_to "Reading Help", "literacy", :class => "category"%>

<p>Find me in app/views/welcome/index.html.erb</p>
